<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upload File</title>
</head>
<body>
<div class="container">
    <form action="/files" method="post" enctype="multipart/form-data">
        <div class="form-group">
            <label for="file">파일 선택:</label><br>
            <input type="file" id="file" name="file" required>
            <!-- input 태그의 name 속성이 controller의 @RequestParam과 매칭됨  id는 controller와 전혀 상관 없음 -->
            <button type="submit">업로드</button>
        </div>
        <!-- 미리보기 영역 -->
        <div>
            <img id="preview" style="max-width: 300px; display: none; margin-top: 15px;" />
        </div>
    </form>
</div>

<script>
    const input = document.getElementById("file");
    const preview = document.getElementById("preview");

    input.addEventListener("change", function () {
        const file = this.files[0];

        if (file) {
            const reader = new FileReader();

            reader.onload = function (e) {
                preview.src = e.target.result;
                preview.style.display = "block";
            };

            reader.readAsDataURL(file);
        } else {
            preview.style.display = "none";
        }
    });
</script>
</body>
</html>